#left-side {
    width: 20%;   
    display: flex;
    justify-content: center;
    flex-flow: column wrap;

}


#right-side {
    background-color: #F2F2F2;
    background-size: 100%;
    width: 80%;
    flex-flow: row wrap;


    #products {
        display: flex;
        justify-content: center;
        
        width: 100%;
        margin-top:2rem;
        color: white;
       
    }

}

#categories {
    height: 20rem;
}