#container-produto {
    border-bottom: solid 0.05rem grey;
    width: 60rem;
    margin: 2rem;
    text-align: center;

    img {
        width: 3.5rem;
        
    }

}

#container-titulo {
    border-bottom: solid 0.05rem grey;
    width: 60rem;
    margin: 2rem;
    text-align: center;
    font-weight: bold;
    
    
}