#carousel-container {
    background-image: url("../Assets/12_generated.jpg"); 
    background-size: 70%;
    background-attachment: fixed;    
}

#bg-opacity {
    width: 100%;
    background-color: whitesmoke;
    opacity: 0.1;
}