#container {

    background-color: rgba(33, 37, 41, 0.4);
    background-image: url("./Assets/nave.png");
    background-size:100%;
    background-attachment: fixed;  
    background-repeat: no-repeat;
    background-position: center;
}


