#container-cat {
    background-image: url("../Home/Components/Assets/rocket-purple-light.png");
    background-size: 100%;
    background-attachment: fixed;  
    background-repeat: no-repeat;
}


@media (max-width: 1200px)
{
    #container-cat {
        background-image: none;
        background-color: purple;
    }
}