#card {
    box-shadow: 2px 2px 2px 1px rgba(0,0,0, 0.7);
         
}

#preco{ 
    font-weight: bold;    
}


#button {
    flex-flow:  wrap;
    
    a{
        text-decoration: none;
    
                
    }   
}